@font-face {
    font-family: "fonte torta";
    src: url("../fontes/fonte2/COCKB___.TTF");
}
html, body{
    scroll-behavior: smooth;
}
.navbar-brand span{
    font-family: "fonte torta";
    font-size: 3em;
    font-weight: bold;
}
.navbar-toggler:focus,
.navbar-toggler:active{
    outline: none;
}
#promocoes{
    font-family: "fonte torta";
    font-size: 6em;
    font-weight: bold;
    margin-bottom: 15px;
}
section#home h1{
    font-weight: bold;
    font-size: 5em;
}
section#home p{
    font-size: 1.5em;
}
@media (min-width:200px){
    section#home h4, .part2{
        display: none;
    }
    section#home{
        padding-bottom: 20px;
    }
    section#quemSomos p.lead{
        font-size: 1.2em;
    }
    section#quemSomos h3.display-4{
        font-size: 1.8em;
    }
    section#doce h1{
        font-size:3.3em;
    }
     section#doce p{
        font-size:1.5em;
    }
    section#salgada h1{
        font-size:3.3em;
    }
     section#salgada p{
        font-size:1.5em;
    }
    section#promocao-titulo h2#promocoes{
        font-size: 5em;
        padding-top: 20px;
        padding-bottom:10px;
        text-align: center;
    }
}
@media(max-width:300px){
    body{
        font-size: 14px;
    }
    header .navbar-brand span{
        font-size: 1.6em;
    }
    section#home h1{
       display: none;
    }
    section#home h4.titulo-pequeno{
        text-align: center;
        font-weight: bold;
        font-size: 2.8em;
        display: block;
     }
     section#contato{
        font-size: 1em;
     }
     section#quemSomos{
        font-size: 0.8em;
     }
     section#quemSomos h3{
        font-size: 0.9em;
     }
     section#doce p.texto-doce-pequeno{
        display: block;
     }
    section#promocao-titulo h2#promocoes{
        font-size: 4em;
     }
}
@media (min-width:301.98px){
    body{
        font-size: 14px;
    }
    header .navbar-brand span{
        font-size: 2.4em;
    }
    section#home h1{
       display: none;
    }
    section#home h4.titulo-pequeno{
        text-align: center;
        font-weight: bold;
        font-size: 3em;
        display: block;
     }
     section#contato{
        font-size: 1em;
     }
     section#quemSomos{
        font-size: 0.8em;
     }
     section#quemSomos h3{
        font-size: 0.9em;
     }
     section#doce p.texto-doce-pequeno{
        display: block;
     }
     section#promocao-titulo h2#promocoes{
        font-size: 4em;
        padding-top: 20px;
        padding-bottom:20px
     }
}
@media (min-width:400px){
    section#home h1{
        text-align: center;
        font-weight: bold;
        font-size: 4em;
    }
    section#home h2.lead{
        text-align: center;
        margin-bottom: 25px;
    }
    section#home h4, .part2{
        display: none;
    }
    section#promocao-titulo h2#promocoes{
        font-size: 4em;
        padding-top: 20px;
        padding-bottom:20px
    }
    section#salgada h1{
        font-size: 5em;
    }
    section#doce h1{
        font-size: 5.2em;
    }
}
@media (min-width:500px){
    header .navbar-brand span{
        font-size: 3.3em;
    }
    .part2{
        text-align: center;
    }
    section#home h1{
       display: block;
    }
    section#home h4{
        text-align: center;
     }
    section#home h4.titulo-pequeno{
        display: none;
     }
    section#promocao-titulo h2#promocoes{
        font-size: 4.7em;
        padding-bottom: 8px;
    }
    section#quemSomos{
        font-size: 1.2em;
     }
    section#contato{
        font-size:1.2em;
     }
}
@media (min-width:577px){
    section#home h1{
        text-align: center;
    }
    section#home h2.lead{
        display: none;
    }
}
@media (min-width:700px){
    section#home h4, section#home h2.lead{
        display: block;
    }
    section#promocao-titulo h2#promocoes{
        font-size: 6em;
     }
     section#quemSomos{
        font-size: 1.3em;
     }
    .caixa-conteudo iframe{
        display: block;
        width: 450px;
        height: 150px;
        margin-bottom: 10px;
    }
    section#quemSomos h3{
        font-size: 2em;
    }
    section#quemSomos p.lead{
        font-size: 1.3em;
    }
}
@media(min-width:800px){
    section#home h4, section#home h2.lead{
        display: block;
    }
    section#promocao-titulo h2#promocoes{
        font-size: 6em;
     }
}
@media (min-width:900px){
    section#quemSomos{
        font-size: 1.1em;
     }
     section#contato{
        font-size:1.3em;
     }
}
@media (min-width:1000px){
    section#home h2.lead{
        display: none;
    }
    .part2{
        display: block;
    }
    .caixa-conteudo iframe{
        display: block;
        width: 600px;
        height: 300px;
        margin-bottom: 10px;
    }
}
section#promocao-titulo{
    padding-top: 20px;
    padding-bottom:20px
}
section#promocao{
    padding-top: 10px;
}
section#home, section#bomApetite, nav, section#promocao-titulo{
    background-image: url(../imagens/fundo-home2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100%;
}
section#doce, section#salgada{
    background-image: url(../imagens/pizza-escura.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100%;
}
section .doceTexto{
    padding-top: 20px;
    padding-bottom:20px
}
section.caixa-conteudo{
    background-color: 	#f79206;
    padding-top: 16px;
    padding-bottom: 8px;
}
#quemSomos,#promocao{
    background-color: #e7a344;
    padding: 5px;
    text-align: justify;
}
#quemSomos h3{
    color: aliceblue;
    font-size: 2.5em;
}
.nav-link{
    cursor: pointer;
}
.cardPromocao{
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 8px;
    box-shadow: 2px 2px 3px #000;
    background-color: aliceblue;
}
.cardPromocao p{
    margin-bottom: 0;
}
.dropdown-menu a.dropdown-item:hover{
    background-color: #d69b48;
    color: aliceblue;
} 
section#promocao .card{
    border-radius: 8px;
}
section#promocao .card img.img-fluid{
    border-radius: 4px;
}
a.link-do-carousel:hover{
    text-decoration: none;
}