@font-face {
    font-family: "folks titulo";
    src: url("../fontes/folks/Folks-Bold.ttf");
}
@font-face {
    font-family: "folks body";
    src: url("../fontes/folks/Folks-Light.ttf");
}
@font-face {
    font-family: "folks bold fino";
    src: url("../fontes/folks/Folks-Normal.ttf");
}
@font-face {
    font-family: "folks bold grosso";
    src: url("../fontes/folks/FolksXXHeavy.ttf");
}
@font-face {
    font-family: "textos finos";
    src: url("../fontes/fonte4/Asap-Regular.otf");
}
@font-face {
    font-family: "folks diferente";
    src: url("../fontes/folks/FolksShades.ttf");
}
html, body{
    scroll-behavior: smooth;
    font-family: "folks body";
}
.navbar-toggler:focus,
.navbar-toggler:active{
    outline: none;
}
section#QuemSomos-titulo{
    font-family: "folks titulo";
    font-size: 3em;
    padding-top: 20px;
    padding-bottom: 20px;
}
section#quemSomos blockquote span p{
    color: rgb(255, 236, 191);
    font-family: "folks bold fino";
}
#promocoes{
    font-family: "folks bold fino";
    font-size: 3em;
    margin-bottom: 15px;
}
section#home h1{
    font-family: "folks diferente";
    font-size: 5em;
    color: rgb(251, 170, 0);
}
section#home h4{
    color: rgb(248, 235, 205);
}
section#home p{
    font-family: "textos finos";
    font-size: 1.5em;
}
section#salgada h1, section#doce h1, section#especial h1{
    color: rgb(255,227,160);
}
section#salgada p, section#doce p, section#especial p{
    color: rgb(255,227,160);
    font-family: "folks bold fino";
}
section#salgada p#subtitulo2, section#doce p#subtitulo2, section#especial p#subtitulo2{
    color: rgb(251,170,0);
    text-shadow: 2px 2px 4px #000;
}
/* promoções semanais */
div.promocoes-semana{
    border-right: 5px dotted rgb(251,170,0);
}
div.promocoes-semana h4{
    margin-top: auto;
    margin-bottom: auto;
    font-weight: 700;
    color:rgb(190,13,0);
    font-family: "folks bold fino";
}
div.promocoes-semana h4.dia-semana{
    font-family: "folks bold grosso";
    font-size: 2em;
    color:rgb(217, 23, 13);
    background-color: rgb(255, 179, 0);
    margin:5px 0;
}
@media (min-width:200px){
    section#home h4, .part2{
        display: none;
    }
    section#home h2.vemPraKing{
        font-size: 1.1em;
    }
    section#home{
        padding-bottom: 20px;
    }
    section#quemSomos blockquote span p{
        font-size: 1.2em;
    }
    section#quemSomos h3{
        font-size: 1.8em;
    }
    section#doce h1{
        font-size:3.3em;
    }
     section#doce p{
        font-size:1.5em;
    }
    section#salgada h1{
        font-size:3em
    }
    section#especial h1{
        font-size:3.3em;
    }
    section#salgada p, section#especial p{
        font-size:1.5em;
    }
    #promocoes{
        font-size: 2em;
        padding-top: 20px;
        padding-bottom:10px;
        text-align: center;
    }
    header .navbar-brand{
        font-size: 1.2em;
    }
    section#contato{
        font-size: 0.8em;
    }
    section#QuemSomos-titulo{
        font-size: 2em;
    }
    span.preco-promocao{
        font-size:x-large;
        display: block;
    }
    img#congresso{
        width: 400px;
    }
}
@media (min-width:200px) and (max-width:299.98px){
    /* responsividade promoções */
    div.promocoes-semana h4{
       font-size: 1em;
       font-family: "folks diferente";
       padding: 5px 0;
   }
   div.promocoes-semana img{
       width: 100px;
   }
   div.promocoes-semana h4.dia-semana{
       font-size: 1.5em;
       font-weight: 400;
   }
   span.preco-promocao{
       font-size: 1.3em;
   }
   span.divisor-quad{
       color: rgb(251, 170, 0);
   }
}
@media (min-width:300px) and (max-width:360px){
    /* responsividade promoções */
    div.promocoes-semana h4{
       font-size: 1.3em;
       font-family: "folks diferente";
       padding: 5px 0;
   }
   div.promocoes-semana img{
       width: 100px;
   }
   div.promocoes-semana h4.dia-semana{
       font-size: 2em;
       font-weight: 400;
   }
   span.preco-promocao{
       font-size: 1.5em;
   }
   span.divisor-quad{
       color: rgb(251, 170, 0);
   }
}
@media (min-width:361.98px) and (max-width:759.98px){
     /* responsividade promoções */
     div.promocoes-semana h4{
        font-size: 1.5em;
        font-family: "folks diferente";
        padding: 5px 0;
    }
    div.promocoes-semana img{
        width: 100px;
    }
    div.promocoes-semana h4.dia-semana{
        font-size: 2em;
        font-weight: 400;
    }
    span.preco-promocao{
        font-size: 1.5em;
    }
    span.divisor-quad{
        color: rgb(251, 170, 0);
    }
}
@media(max-width:300px){
    body{
        font-size: 14px;
    }
    header .navbar-brand span{
        font-size: 1.6em;
    }
    section#home h1{
       display: none;
    }
    section#home h4.titulo-pequeno{
        text-align: center;
        font-weight: bold;
        font-size: 2.8em;
        display: block;
     }
     section#contato{
        font-size: 1em;
     }
     section#quemSomos{
        font-size: 0.8em;
     }
     section#quemSomos h3{
        font-size: 1em;
     }
     section#doce p.texto-doce-pequeno{
        display: block;
     }
    #promocoes{
        font-size: 2.4em;
     }
    .preco-promocao{
        font-size:x-large;
        display: inline;
    }
}
@media (min-width:301.98px){
    body{
        font-size: 14px;
    }
    header .navbar-brand span{
        font-size: 2.4em;
    }
    section#home h1{
       display: none;
    }
    section#home h4.titulo-pequeno{
        text-align: center;
        font-weight: bold;
        font-size: 3em;
        display: block;
     }
     section#contato{
        font-size: 1em;
     }
     section#quemSomos p{
        font-size: 0.8em;
     }
     section#quemSomos h3{
        font-size: 1.3em;
     }
     section#doce p.texto-doce-pequeno{
        display: block;
     }
     #promocoes{
        font-size: 2.2em;
        padding-top: 15px;
        padding-bottom:15px
     }
    #promocao-lista-sm-menor{
        display: none;
    }
    ul#promocao-lista-sm{
        display: block;
        font-size: 1.2em;
    }
    p#promocao-lista-sm{
        font-size: 1.3em;
    }
}
@media (min-width:400px){
    section#home h1{
        text-align: center;
        font-weight: bold;
        font-size: 4em;
    }
    section#home h2.lead{
        text-align: center;
        margin-bottom: 25px;
    }
    section#home h4, .part2{
        display: none;
    }
    #promocoes{
        font-size: 2.4em;
        padding-top: 15px;
        padding-bottom:15px
    }
    section#salgada h1{
        font-size: 4.5em;
    }
    section#especial h1{
        font-size: 5em;
    }
    section#doce h1{
        font-size: 5.2em;
    }
    #promocao-lista-sm li{
        font-size: 1em;
    }
    #promocao-lista-sm{
        margin-bottom: 0px;
    }
    p#promocao-lista-sm{
        margin-bottom: 8px;
    }
    .preco-promocao{
        font-size:x-large;
    }
    img#congresso{
        width: 500px;
    }
    
}
@media (min-width:420px){
    #promocao-lista-sm li{
        font-size: 1em;
    }
    .preco-promocao{
        font-size:xx-large;
    }
}
@media (min-width:500px){
    header .navbar-brand span{
        font-size: 3.7em;
    }
    .part2{
        text-align: center;
    }
    section#home h1{
       display: block;
    }
    section#home h4{
        text-align: center;
     }
    section#home h4.titulo-pequeno{
        display: none;
     }
    #promocoes{
        font-size: 2.7em;
        padding-bottom: 8px;
    }
    section#quemSomos{
        font-size: 1.2em;
     }
    section#contato{
        font-size:1.2em;
     }
    #promocao-lista-sm li{
        font-size: 1.3em;
    }
}
@media (min-width:577px){
    section#home h1{
        text-align: center;
    }
    section#home h2.lead{
        display: none;
    }
    section#QuemSomos-titulo{
        font-size: 3em;
    }
}
@media (min-width:700px){
    section#home h1{
        font-size: 5.6em;
    }
    section#home h4, section#home h2.lead{
        display: block;
    }
    section#quemSomos{
        font-size: 1.3em;
    }
    .caixa-conteudo iframe{
        display: block;
        width: 450px;
        height: 150px;
        margin-bottom: 10px;
    }
    section#quemSomos h3{
        font-size: 2em;
    }
    section#quemSomos blockquote span p{
        font-size: 1.3em;
    }
    p#promocao-do-dia{
        font-size: 2em;
    }
    span.preco-promocao{
        display: inline;
        font-size:1.5em;
    }
    #card-medium{
        display: none;
    }
    #card-large{
        display: block;
    }
}
@media (min-width:760px) and (max-width:1030px){
    /* responsividade promoções */
    div.promocoes-semana h4{
        font-size: 0.9em;
    }
    div.promocoes-semana h4.dia-semana{
        font-size: 1.5em;
    }
}
@media(min-width:800px){
    section#home h4, section#home h2.lead{
        display: block;
    }
    h2#promocoes{
        font-size: 4em;
     }
}
@media (min-width:900px){
    section#quemSomos{
        font-size: 1.1em;
     }
     section#contato{
        font-size:1.3em;
     }
}
@media (min-width:1000px){
    section#home h2.lead{
        display: none;
    }
    .part2{
        display: block;
    }
    .caixa-conteudo iframe{
        display: block;
        width: 600px;
        height: 300px;
        margin-bottom: 10px;
    }
}
@media(min-width:1000px) and (max-width:1200px){
    /* responsividade promoções */
    div.promocoes-semana h4{
        font-size: 1em;
    }
    div.promocoes-semana h4.dia-semana{
        font-size: 1.5em;
    }
}
section#promocao-titulo{
    padding-top: 20px;
    padding-bottom:20px
}
section#promocao{
    padding-top: 10px;
}
section#home, section#bomApetite, nav, section#promocao-titulo, section#QuemSomos-titulo{
    background-image: url(../imagens/pizza-escura.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100%;
}
section#doce, section#salgada, section#especial{
    background-image: url(../imagens/pizza-escura.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100%;
}
section .doceTexto{
    padding-top: 20px;
    padding-bottom:20px;
    font-family:"folks bold fino";
}
section .doceTexto h1{
    font-family:"folks titulo";
}
section#especial{
    font-family:"folks bold fino";
}
section.caixa-conteudo{
    background-color: rgb(251,170,0);
    padding-top: 16px;
    padding-bottom: 8px;
    color: rgb(153, 24, 15);
}
#quemSomos,#promocao{
    background: rgb(217,23,13) url(../imagens/pattern.png);
    padding: 5px;
    text-align: justify;
}
#quemSomos h3{
    color: rgb(255, 227, 160);
    font-size: 2.5em;
}
.nav-link{
    cursor: pointer;
    font-family: "folks bold fino";
}
.cardPromocao{
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 8px;
    box-shadow: 2px 2px 3px #000;
    background-color: rgb(255, 227, 160);
}
.cardPromocao p{
    margin-bottom: 0;
}
.dropdown-menu a.dropdown-item:hover{
    background-color: rgb(153, 24, 15);
    color: rgb(255, 227, 160);
} 
section#promocao .card{
    border-radius: 8px;
    background-color: rgb(255, 227, 160);
}
section#promocao .card img.img-fluid{
    border-radius: 4px;
}
a.link-do-carousel:hover{
    text-decoration: none;
}
section#bomApetite a.nav-link, #home-header a.nav-link{
    color: rgb(230, 11, 0);
    text-shadow: 2px 2px 3px #000;
}
section#bomApetite a.nav-link:hover, #home-header a.nav-link:hover{
    color: rgb(255, 227,160);
}
section#bomApetite a.nav-link#link-redes{
    color: rgb(255, 227, 160);
}
section#bomApetite a.nav-link#link-redes:hover{
    color: #ffffffcd;
}
#promocao-do-dia{
    font-family: "folks bold fino";
    font-size: 1.5em;
    color: rgb(249, 210, 118);
    font-weight: 400;
}
.botao-promocao{
    background-color:rgb(229, 35, 22);;
    color: rgb(255, 227, 160);
    outline: 2px solid rgb(229, 35, 22);
    font-family: "folks bold fino";
}
a.botao-promocao:hover {
    background-color: rgb(249, 210, 118);
    color: rgb(43, 3, 0);
    font-weight: bold;
}
a.botao-promocao:focus{
    outline: 2px solid rgb(229, 35, 22);
    box-shadow: 0 0 0 0;
    border: none;
}
.preco-promocao{
    color: rgb(249, 210, 118);
    font-size:xx-large;
    font-family: "folks bold grosso";
}
div.dropdown-menu{
    background-color: rgb(255, 227, 160);
    font-family: "folks bold fino";
}
section#contato{
    background: rgb(255, 170, 0);
    color: rgb(43, 3, 0);
    font-family: "folks bold fino";
}
section.caixa-conteudo{
    background: rgb(255, 170, 0);
}
section#QuemSomos-titulo h4{
    color: rgb(255, 227,160);
}
a.whats{
    background-color: rgb(255, 227, 160);
    color:rgb(43, 3, 0);
}
a.whats:hover{
    color:rgb(43, 3, 0);
    background-color: rgb(249, 210, 118);
}
ul#redes-sociais a.nav-link{
    color: rgb(230, 11, 0);
    text-shadow: 2px 2px 3px #000;
}
ul#redes-sociais a:hover{
    color: rgb(249, 210, 118);
}
div.cartao-pizza{
    background-color: rgb(255, 227, 160);
    border-radius: 20px;
    text-align: center;
    padding: 8px 0;
}
i.seta{
    font-weight: bold;
    font-size: 1.5em;
    color: rgb(153, 24, 15);
}
div#carousel-controles-salgada div.cartao-pizza h4 span,
div#carousel-controles-salgada-sm div.cartao-pizza h4 span,
div#carousel-controles-sm div.cartao-pizza h4 span,
div#carousel-controles div.cartao-pizza h4 span,
div#carousel-controles-especial-sm div.cartao-pizza h4 span,
div#carousel-controles-especial div.cartao-pizza h4 span
{
    display: none;
}
div#carousel-controles-salgada div.cartao-pizza h4,
div#carousel-controles-salgada-sm div.cartao-pizza h4,
div#carousel-controles-sm div.cartao-pizza h4,
div#carousel-controles div.cartao-pizza h4,
div#carousel-controles-especial-sm div.cartao-pizza h4,
div#carousel-controles-especial div.cartao-pizza h4{
    font-family: "folks bold grosso";
    color: rgb(83, 13, 8);
}
div#carousel-controles-salgada div.cartao-pizza h3,
div#carousel-controles-salgada-sm div.cartao-pizza h3,
div#carousel-controles-sm div.cartao-pizza h3,
div#carousel-controles div.cartao-pizza h3,
div#carousel-controles-especial-sm div.cartao-pizza h3,
div#carousel-controles-especial div.cartao-pizza h3{
    font-family: "folks bold fino";
    color: rgb(43, 3, 0);
}
div#carousel-controles-salgada div.cartao-pizza p,
div#carousel-controles-salgada-sm div.cartao-pizza p,
div#carousel-controles-sm div.cartao-pizza p,
div#carousel-controles div.cartao-pizza p,
div#carousel-controles-especial-sm div.cartao-pizza p,
div#carousel-controles-especial div.cartao-pizza p{
    color: rgb(43, 3, 0);
}
section#promocao{
    color:rgb(43, 3, 0);
}
section#home h4.titulo-pequeno{
    color:rgb(251, 170, 0);
    font-family:"folks diferente";
}
div#card-endereco{
    border-radius: 8px;
    padding:10px 0 0 8px;
    background-color: rgb(255, 227, 160);
}